<!-- <p>acerca works!</p>
 -->
<div class="py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        INTEGRANTES
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Actividad en equipos de tres personas. Revisa el código de la aplicación
        (recetas), ejecútala e identifica los elementos del patrón MVC
        (Modelo-Vista-Controlador).
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li class="users">
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://avatars.githubusercontent.com/u/47507228?v=4"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Rubén Valencia
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Arquitecto de software / DevOps
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fgye30-1.fna.fbcdn.net/v/t39.30808-6/340080079_1284705002124060_1177737598711887221_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeH-XzwK4FKFX99uYxakbdKMc5ZAKMnx39dzlkAoyfHf14mi35a41WaBPIXlQ3BexQ5NBTVD_G1eaXj-ToRp1m4R&_nc_ohc=aBWbKgYNb-wAX8TOUTM&_nc_ht=scontent.fgye30-1.fna&oh=00_AfCO75gL8Zjze6ONMjJ1DJbfA4nJXYNbweVL2barinpB5w&oe=6479529A"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Daniel Tene
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Backend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/1.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Kevin Espinoza
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Frondend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/2.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              ALESSIA PACHECO
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Frondend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="../../../assets/images/3.jpg"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              ANDERSON TUFIÑO
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Frondend
            </p>
          </div>
        </div>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</div>
